<h1>Workers</h1>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.first_name %></td>
        <td><%= worker.last_name %></td>
        <td><%= worker.email %></td>
        <td><%= link_to 'Show', worker, class: "btn btn-sm btn-info"%></td>
        <td><%= link_to 'Edit', edit_worker_path(worker), class: "btn btn-sm btn-warning" %></td>
        <td><%= link_to 'Destroy', worker, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worker', new_worker_path %>
